.header {
    
    .container-nobrand{
        width: 100%;
        background-color: blue;
        color: white;
        font-weight: bolder;
    }
    .emphasis{
        color:  lightgray;
        margin-right: 14px;
        font-weight: bold; 
    }

}