<h1>Hello, student!</h1>

<div class="well well-sm mouseOver" (click)="navigateToTest()">
    <div class="row">
        <div class="col-md-6 col-xs-6 ">
            <h3>Anatomy Test</h3>
            <span>Finished Question 23</span>
        </div>
        <div class="col-md-6 col-xs-6 text-right">
            <h3>Current Score</h3>
            <span>1234</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-xs-6">
            <h3>Chemistry Test</h3>
            <span>Finished Question 15</span>
        </div>
        <div class="col-md-6 col-xs-6 text-right">
            <h3>Current Score</h3>
            <span>518</span>
        </div>
    </div>

</div>